input[name='gameName'] {
    font-size: 16px;
    font-family: "CaslonAntiqueCyr", "Courier New", sans;
    color: #7a4300;
    background-color: #fffda9;
}

input[type='submit'] {
    padding: 4px;
    border: 2px solid #7a4300;
}

.newGameForm fieldset {
    border: 1px solid #7a4300;
    display: inline;
    padding: 5px;
}

.newGameForm legend {
    padding: 1% 0;
}