input[name='gameName'] {
    font-size: 16px;
    font-family: "Courier New", sans;
    color: #7a4300;
    background-color: #fffda9;
}

input[type='submit'] {
    padding: 4px;
    border: 2px solid #7a4300;
    background-color: #7a4300;
    font-family: "Courier New", sans;
    font-weight: bold;
    color: #fed19a;
}