@CHARSET "UTF-8";

/* Lobby styles */
.lobby {
    background-color: #fffda9;
    margin: 30px auto 0 auto;
    width: 90%;
    padding: 30px 0;
}



.main,.main a {
    font-family: "CaslonAntiqueCyr","Courier New", sans;
    color: #7a4300;
}

.main h1 {
    font-family: "Munchkin Cyr", "Courier New", sans;
    font-size: 1.3em;
    font-weight: bold;
    /*padding-bottom: 1em;*/
}

.main h2 {
    font-family: "Munchkin Cyr", "Courier New", sans;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0.8em;
    text-decoration: underline;
}

.main h3 {
    font-family: "Munchkin Cyr", "Courier New", sans;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.main p {
    padding-bottom: 0.6em;
    /*text-align: justify;*/
}

.main {
    font-size: 1em;
    background-color: #fed19a;
    margin: 0 auto;
    padding: 20px;
    width: 66.66666667%;
    min-height: 200px;
}

.gamesOnServer {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
}

.gamesOnServer th {
    padding: 0.5% 2%;
    background-color: #7a4300;
    font-family: "Munchkin Cyr", "Courier New", sans;
    color: #fed19a;
}

.gamesOnServer td {
    padding: 0 2%;
}
.gamesOnServer td.left {
    text-align: left;
}
.gamesOnServer td.last{
    text-align: right;
    padding: 0;
}

hr {
    border-top:1px solid #7a4300;
    border-bottom: 0;
}

.enterGameBtn {
    padding: 4px 10px;
    border: 2px solid #7a4300;
}