@CHARSET "UTF-8";

/* Lobby styles */
.lobby {
    background-color: #fffda9;
    margin: 30px auto 0 auto;
    width: 90%;
    padding: 30px 0;
}

.main,.main a {
    font-size: 16px;
    font-family: "Courier New", sans;
    color: #7a4300;
}

.main h1 {
    font-size: 18px;
    font-weight: bold;
}

.main {
    background-color: #fed19a;
    margin: 0 auto;
    padding: 0 20px;
    width: 66.66666667%;
    min-height: 200px;
}

table.gamesOnServer {
    width: 100%;
}

.gamesOnServer th {
    padding: 0 2%;
    text-align: left;
    background-color: #7a4300;
    font-weight: bold;
    color: #fed19a;
}

.gamesOnServer td {
    padding: 0 2%;
}

table.gamesOnServer,.gamesOnServer th,.gamesOnServer td{
    border: 1px solid #7a4300;
    border-collapse: collapse;
}