.diceContainer {
    width: 20%;
    float: right;
    margin-right: 0.5%
}

.diceRollContainer {
    background-color: #ffd484;
    margin-bottom: 1%;
    border: 1px solid gray;
    padding: 1px;
}

.diceClose {
    float: right;
}

.diceRollContainer .diceCloseBtn {
    border: 0;
    background-color: transparent;
    color:gray;
}

.diceCloseBtn:hover {
    color: #7a4300;
}

.diceRollContainer .diceMsg {
    font-family: "CaslonAntiqueCyr", "Courier New", sans;
    color: #7a4300;
    padding: 5px;
}